vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Nov 2013 11:53:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CHUCKNORRIS\\Ninja
vti_modifiedby:SR|CHUCKNORRIS\\Ninja
vti_timecreated:TR|15 Nov 2013 11:53:34 -0000
vti_cacheddtm:TX|15 Nov 2013 11:53:34 -0000
vti_filesize:IR|1605
vti_cachedlinkinfo:VX|D|'\\ +\\ link.href\\ +\\ ' S|//mc.yandex.ru/watch/11382601
vti_cachedsvcrellinks:VX|NDUS|js/maginfic_popup/website/_includes/'\\ +\\ link.href\\ +\\ ' NSUS|//mc.yandex.ru/watch/11382601
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|
