html, body {
	background-color: #5bb0d7;
	color: #222;
}

.text {
	border: 1px solid #2b9097;
	border-radius: 5px 5px 5px 5px;
	padding-left: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.selcolor {
	background: transparent;
	border: 0;
	border-radius: 5px 5px 5px 5px;
	padding-left: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

div.chatbox {
	overflow: auto;
	height: 450px;
	background-color: white;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.45px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 1.2px 1.2px 1px #000000, 0px 0px 1.2px #0d0d0d;
  background: #506591;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 1px #000000, 0px 0px 0.3px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 21px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.45px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5e76a6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 1.2px 1.2px 1px #000000, 0px 0px 1.2px #0d0d0d;
  background: #506591;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1px #000000, 0px 0px 0.3px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 21px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #43557a;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1.2px 1.2px 1px #000000, 0px 0px 1.2px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #506591;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1.2px 1.2px 1px #000000, 0px 0px 1.2px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.3px 0.3px 1px #000000, 0px 0px 0.3px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 21px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  height: 3.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #506591;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5e76a6;
}
