/*
    SOLARIZED.CSS
    Created on : 16-feb-2016, 9:47:56
    Author     : Aaron CdC
*/

html, body {
    background-color: #00343e;
	background: linear-gradient(#00b9af, #004e66) no-repeat;
	min-height: 100%;
    color: #009592;
    font-family: "Courier New", monospace;
	overflow: auto;
}

article.title {
	background: #00161a;
	padding: 1px;
	border-radius: 15px 15px 0px 0px;
}

article.body {
	background-color: #002b33;
	padding: 5px;
}

footer {
	background: linear-gradient(#002b33, #00161a, rgba(0,0,0,0));
	min-height: 100px;
	padding: 15px;
	padding-left: 10px;
	font-size: 14px;
	border-radius: 0px 0px 50px 50px;
}

b, h1, h2, h3, h4, h5, h6, th {
    color: #007cb9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console";
}

p.desc {
	font-size: 12px;
	color: #ddd;
}

td, th {
    background-color: #002b33;
    padding: 5px;
	min-width: 256px;
	border-radius: 15px 15px 0px 0px;
}

th {
    background-color: #00191d;
	border-radius: 15px 15px 0px 0px;
}

td.sl:hover {
    background-color: #00161a;
    border-color: #007cb9;
    padding: 2px;
}

a {
    color: #007cb9;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: #00aaff;
    text-decoration: underline;
    font-style: italic;
}

table {
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 5px #009996;
	border-radius: 15px 15px 0px 0px;
}

table.bl {
    border-collapse: collapse;
    border: 0px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 5px #009996;
}

input, select, textarea {
    border: 1px solid #000;
    background-color: #00b9af;
    color: #004e66;
    font-family: "Courier New", monospace;
    outline: none;
}

button {
   border: 1px solid #000;
   background-color: #00b9af;
   color: #004e66;
   outline: none;
   margin: 2px;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #000;
    background-color: #0099e6;
    color: #99ffe6;
    outline: none;
}

button:hover {
   border: 1px solid #000;
   background-color: #0099e6;
   color: #1affc6;
   outline: none;
}

button:active {
   border: 1px solid #000;
   background-color: #0099e6;
   color: #00664d;
   outline: none;
}

ul, ol {
    color: #007cb9;
    margin: 5px;
}
li {
    color: #fff;
}

mark {
    background-color: #009592;
    color: #fff;
    box-shadow: 0px 0px 7px #009592;
}

hr {
    border: 1px solid #009592;
    box-shadow: 0px 0px 7px #009592;
}

pre {
    color: #fff;
}

fieldset {
	border: 1px solid #009592;
	box-shadow: 0px 0px 5px #009996;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: linear 0.5s;
}

.head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #1D1D1D;	
}