vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Nov 2013 11:53:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|CHUCKNORRIS\\Ninja
vti_modifiedby:SR|CHUCKNORRIS\\Ninja
vti_timecreated:TR|15 Nov 2013 11:53:34 -0000
vti_cacheddtm:TX|15 Nov 2013 11:53:34 -0000
vti_filesize:IR|2400
vti_cachedtitle:SR|{{ page.title }}
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|{{page.canonical_url}} H|https://plus.google.com/102586375605352607718 Q|site-assets/site.css Q|dist/magnific-popup.css Q|site-assets/all.min.css H|http://dimsemenov.com H|http://www.squiver.com S|dist/jquery.magnific-popup.js S|dist/jquery.magnific-popup.min.js
vti_cachedsvcrellinks:VX|NHUS|js/maginfic_popup/website/_layouts/{{page.canonical_url}} NHSS|https://plus.google.com/102586375605352607718 NQUS|js/maginfic_popup/website/_layouts/site-assets/site.css NQUS|js/maginfic_popup/website/_layouts/dist/magnific-popup.css NQUS|js/maginfic_popup/website/_layouts/site-assets/all.min.css NHHS|http://dimsemenov.com NHHS|http://www.squiver.com NSUS|js/maginfic_popup/website/_layouts/dist/jquery.magnific-popup.js NSUS|js/maginfic_popup/website/_layouts/dist/jquery.magnific-popup.min.js
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=X-UA-Compatible IE=edge,chrome=1 description {{page.description}} viewport width\\ =\\ device-width,\\ initial-scale\\ =\\ 1.0 author Dmitry\\ Semenov
vti_charset:SR|utf-8
vti_title:SR|{{ page.title }}
vti_backlinkinfo:VX|
