vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Mar 2016 13:14:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.php register.php
vti_author:SR|CHUCKNORRIS\\Ninja
vti_modifiedby:SR|CHUCKNORRIS\\Ninja
vti_timecreated:TR|03 Mar 2016 12:59:37 -0000
vti_nexttolasttimemodified:TW|05 Mar 2016 13:12:57 -0000
vti_cacheddtm:TX|05 Mar 2016 13:14:57 -0000
vti_filesize:IR|7119
